html, body {
	padding: 0;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	width: 100%;
	font-family: 'LMSansQuot8-Regular', monospace;
	font-weight: 400;
	font-display: optional;
	color: #050E1F;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}
@font-face {
	font-family: "LMSansQuot8-Regular";
	src: url("src/lm/lmsansquot8-regular.otf");
	src: url("src/lm/lmsansquot8-regular.otf") format("otf");
}

html{
    background: #444444;
}

.preloader{
    background-image: url(src/img/main/qiqiOfTheEnd.png);
}

.title{
    float: left;
    text-align: center;
    max-width: 5%;
    height: 100%;
    padding: 2% 2% 10% 2%;
    object-fit: contain;
    margin: 0px;
    z-index: 2;
    position: relative;
}

.fixed-elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
}

.fixed-elements-right{
    position: fixed;
    top: 0;
    right: 0;
    width: 5%;
}

.main{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 30px;
    animation-name: rise;
    animation-duration: 0.9s;
    animation-play-state: running;
    animation-iteration-count: 1;
    margin-top: 5%;
}
@keyframes rise{
    from {
        margin-top: 100%;
    } to {
        margin-top: 5%;
    }
}

.mainhead{
    background-color: #F7F8FA;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.descrip{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10% 10% 5% 10%;
    text-align: center;
    background-color: #F7F8FA;

}

.side-right{
	float: right;
	max-width: 40%;
	width: auto;
	margin: 4%;
	margin-right: 15%;
	margin-top: 0%;
	font-size: 36px;
}

.texty{    
    padding: 2.5% 10% 5% 10%;
    text-align: center;
}

.resume{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

.foot{
    background-color: #202020;
    color: #FAFDF6;
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
}

.a{
    color: #FAFDF6;
}
